.App {
  text-align: center;
}
.counter{
  color: rgb(13, 5, 58);
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;

}

.btn{
  width: 10%;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  background-color: rgb(12, 81, 179);
  font-size: medium;
}
